schema.rnc

start = element data {
            element PublicationEntries {
                (in_proceedings
                | article
                | book
                | thesis)*
            }?,
            element Tools {
                web_resource*
            }?,
            element Talks {
                element Talk {
                    attribute id { xsd:integer }?,
                    attribute invited { xsd:boolean }?,
                    attribute international_venue { xsd:boolean }?,
                    attribute international_collaboration { xsd:boolean }?,
                    attribute minor { xsd:boolean }?,
                    attribute lang { text }?,
                    attribute type { "oral_presentation" | "poster_presentation" | "others" }?,
                    (element venue { web_resource & text?}
                    & element presenter { text }?
                    & element author {
                          attribute url { text }?,
                          attribute japanese { text }?,
                          text
                      }*
                    & element date { text }
                    & element location { text }
                    & element title { text }
                    & element year { xsd:integer }?
                    & element month { xsd:integer }?
                    & element day { xsd:integer }?
                    & web_resource*)
                }*
            }?,
            element Awards {
                element Award {
                    attribute id { xsd:integer }?,
                    attribute url { text }?,
                    attribute major { xsd:boolean }?,
                    attribute disclosed { text }?,
                    attribute type { "international_academic_award" | "international_society" | "japan_society" | "official_journal" | "publisher" | "others" }?,
                    (element name {
                         attribute japanese { text }?,
                         text
                     }
                    & element author {
                          attribute url { text }?,
                          attribute japanese { text }?,
                          attribute not_me { xsd:boolean }?,
                          text 
                      }+
                    & element title {
                          attribute japanese { text }?,
                          text
                      }?
                    & element organization {
                          attribute url { text }?,
                          attribute japanese { text }?,
                          text
                      }?
                    & element abstract_english { text }?
                    & element abstract_japanese { text }?
                    & element year { xsd:integer }
                    & element month { xsd:integer }
                    & element day { xsd:integer }?)
                }*
            }?,
            element TeachingExperiences {
                element TeachingExperience {
                    attribute TA { xsd:boolean }?,
                    attribute id { xsd:integer }?,
                    attribute url { text }?,
                    attribute type { "undergraduate_liberal_arts" | "undergraduate_special_subjects" | "graduate_school_liberal_arts_course" | "postgraduate_courses" | "others" }?,
                    (element name {
                         attribute japanese { text }?,
                         text
                     }
                    & element organization {
                          attribute url { text }?,
                          attribute japanese { text }?,
                          text
                      }
                    & element start_year { xsd:integer }
                    & element start_month { xsd:integer }
                    & element end_year { xsd:integer }?
                    & element end_month { xsd:integer }?
                    & element abstract_japanese { text }?
                    & element abstract_english { text }?)
                }*
            }?,
            element Committees {(
                    element PCMember {
                        attribute id { xsd:integer }?,
                        attribute type { "society" }?,(
                            element organization {
                                attribute url { text }?,
                                attribute japanese { text }?,
                                text
                            }&
                            element start_year { xsd:integer }?&
                            element start_month { xsd:integer }?&
                            element end_year { xsd:integer }?&
                            element end_month { xsd:integer }?
                        )} &
                    element PCChair {
                        attribute id { xsd:integer }?,
                        attribute type { "society" }?,(
                            element organization {
                                attribute url { text }?,
                                attribute japanese { text }?,
                                text
                            }&
                            element start_year { xsd:integer }?&
                            element start_month { xsd:integer }?&
                            element end_year { xsd:integer }?&
                            element end_month { xsd:integer }?
                        )} &
                    element Other {
                        attribute id { xsd:integer }?,
                        attribute type { "society" }?,(
                            element name {
                                attribute japanese { text }?,
                                text
                            }&
                            element organization {
                                attribute url { text }?,
                                attribute japanese { text }?,
                                text
                            }&
                            element start_year { xsd:integer }?&
                            element start_month { xsd:integer }?&
                            element end_year { xsd:integer }?&
                            element end_month { xsd:integer }?
                        )}
                )*
            }?,
            element Grants {
                (element ResearchProject {
                    attribute id { xsd:integer }?,
                    attribute url { text }?,
                    attribute grant_number { text }?,
                    attribute international { xsd:boolean }?,
                    attribute type { "principal_investigator" | "coinvestigator" | "coinvestigator_not_use_grants" | "others" }?,
                    attribute total { xsd:integer }?,
                    attribute total_direct { xsd:integer }?,
                    attribute total_indirect { xsd:integer }?,
                    (element title {
                         attribute japanese { text }?,
                         text
                     }
                    & element author {
                          attribute url { text }?,
                          attribute japanese { text }?,
                          text
                      }+
                    & element grant_agency {
                          attribute url { text }?,
                          attribute japanese { text }?,
                          text
                      }
                    & element scheme {
                          attribute url { text }?,
                          attribute japanese { text }?,
                          text
                      }
                    & element categories {
                          attribute url { text }?,
                          attribute japanese { text }?,
                          text
                      }?
                    & element organization {
                          attribute url { text }?,
                          attribute japanese { text }?,
                          text
                      }
                    & element start_year { xsd:integer }
                    & element start_month { xsd:integer }
                    & element start_day { xsd:integer }?
                    & element end_year { xsd:integer }
                    & element end_month { xsd:integer }
                    & element end_day { xsd:integer }?
                    & element abstract_japanese { text }?
                    & element abstract_english { text }?)
                } | element OtherGrants {
                    attribute id { xsd:integer }?,
                    attribute url { text }?,
                    (element title {
                         attribute japanese { text }?,
                         text
                     }?
                    & element grnant_agency {
                          attribute url { text }?,
                          attribute japanese { text }?,
                          text
                      }
                    & element scheme {
                          attribute url { text }?,
                          attribute japanese { text }?,
                          text
                      }
                    & element start_year { xsd:integer }?
                    & element start_month { xsd:integer }?
                    & element end_year { xsd:integer }?
                    & element end_month { xsd:integer }?
                    & element abstract_japanese { text }?
                    & element abstract_english { text }?)
                })*
            }?
        }
# gYear
in_proceedings =
    element InProceedings {
        attribute id { xsd:integer }?,
        attribute published { xsd:boolean }?,
        attribute series { text }?,
        attribute volume { xsd:integer}?,
        attribute organization { text }?,
        (element officialPDF { web_resource }?
        & element title { text }
        & element authorPDF { web_resource }?
        & element otherResources { web_resource }*
        & element year { xsd:integer }
        & element booktitle {
              attribute abbr {text}?,
              text
          }
        & element number { text }?
        & element pages { text }?
        & author+)
    }
article =
    element Article {
        attribute publisher { text }?,
        attribute id { xsd:integer }?,
        (element title { text }
        & element officialPDF { web_resource }?
        & element year { xsd:integer }
        & element journal { text }
        & element authorPDF { web_resource }?
        & element volume { xsd:integer}
        & element number { text }?
        & element start_page { text }
        & element end_page { text }
        & element otherResources { web_resource }*
        &author+),
        element note { text }?
    }
book =
    element Book {
        attribute title { text },
        attribute id { xsd:integer }?,
        element officialPDF { web_resource }?,
        element authorPDF { web_resource }?,
        element otherResources { web_resource }*,
        attribute year { xsd:integer },
        attribute chapter { text }?,
        attribute publisher { text }?,
        author+

    }
thesis =
    element Thesis {
        attribute degree { text },
        attribute id { xsd:integer }?,
        (element title { text }
        & element school { text }
        & element year { xsd:integer }
        & element officialPDF { web_resource }?
        & element authorPDF { web_resource }?
        & element otherResources { web_resource }*
        & author+)
    }
author =
    element author {
        attribute url { text }?,
        text
    }
web_resource =
    element WebResource {
        attribute label { text },
        (attribute url { text }
        | attribute doi {text})?
    }
